@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,500;1,600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    width: 100vw;
    height:100vh;
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container{
    width: 460px;
    height: 450px;
    background-color: aliceblue;
    position: relative;
    
}
.tool{
    width:320px;
    height: 310px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    text-align: left;
    justify-content: center;
    display: flex;
    gap: 8px;
   
}
.form-group{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
#textarea{
    height:140px;
}

.form-group label{
    color: white;
}
.form-group label span{
    background-color: aliceblue;
    color: black;
    padding:0px 10px;
    margin-left: 20px;
}
.form-group button{
    background-color: brown;
    color: white;
    height: 28px;
}